{
 :database
 {
  :user  #or [#env PGUSER "postgres"]
  :name  #or [#env PGDATABASE "netjson_dev"]
  :pass  #or [#env PGPASSWD "password"]
  :host  #or [#env PGHOST "localhost"]
  }
 :webserver
 { 
  :port 8090
  }
 :datasource
 {
  :host "localhost"
  :port 3001
  }
 }
